---
import "../styles/global.css";

import StickyCursor from "../components/ui/StickyCursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Justin Le</title>
  </head>
  <body>
    <slot />
    <StickyCursor />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #faf9f6;
    color: #212121;
  }
</style>
